@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700=swap');

body {
  margin: 0;
  font-family: var(--font);
  background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.navbar {
  width: 375px;
  padding-top: 44px;
  left: 0;
  top: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.navbar__header {
  flex: 1 1 0;
  align-self: stretch;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 24px;
  padding-left: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.navbar__header__content {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 170px;
}

.navbar__logo {
  text-align: center;
  color: #6070ff;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
}

.navbar__label_container {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  margin-left: 30px;
}

.__label__list_container {
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: #6070ff;
  border-radius: 1px;
  cursor: pointer;
}

.navigation {
  display: inline-flex;
  padding: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 74px;
  padding-bottom: 74px;
  left: 0;
  top: 92px;
  position: absolute;
  flex-direction: column;
  background-color: #fff;
  border-bottom-left-radius: 80px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.background {
  background-image: url("img/mbl.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.navigation__bar {
  color: #172b4d;
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 52px;
  width: 327px;
  word-wrap: break-word;
  gap: 10px;
}

.me {
  font-size: 16px;
  color: #344563;
  font-family: Poppins, sans-serif;
  width: 327px;
  height: 146px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  margin-bottom: auto;
}

.connect {
  color: #7f8cff;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 24px;
}

.navigation > h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  color: #7f8cff;
  margin-top: 40px;
  font-family: Poppins, sans-serif;
}

.let__connect {
  color: #7f8cff;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
}

.nav-header {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #172b4d;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  margin-top: 21px;
  margin-bottom: 136px;
}

.social-media ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.social-media li {
  margin-right: 13px;
}
